@import '../../common/colors';

.card {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 360px;
    margin: 20px;
    background-color: $white-color;
    border-radius: 30px;
    padding: 0 28px;
    box-shadow: 0 3.2px 2.2px rgb(0 0 0 / 2%), 0 7px 5.4px rgb(0 0 0 / 3%), 0 12.1px 10.1px rgb(0 0 0 / 4%), 0 19.8px 18.1px rgb(0 0 0 / 4%), 0 34.7px 33.8px rgb(0 0 0 / 5%), 0 81px 81px rgb(0 0 0 / 7%);


    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-color: $yellow-color;
        top: -20%;
        left: -50%;
        z-index: 0;
    }
}


.card-top {
    margin: 12px 0px;
    position: relative;

    img {
        width: 50px;
        height: 26px;
    }
}

.card-title {
    margin: 16px 0;
    font-weight: 700;
    color: $black-color;
    font-size: 2.4rem;
    position: relative;

}

.card-total {
    float: right;

}

.card-body {
    position: relative;
    overflow-y: scroll;
    height: calc(100% - 113px);

    &::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .card {
        margin: 20px 10px;
    }
}